{% extends "::layoutWithSidebar.html.twig" %}
{% block title %}{{parent()}} - Sélection{% endblock %}

{% block selection %}

<div class="well">


    <h3 style="margin-top:10px;">{{'Réservation'|trans }}</h3>


        {{ form_start(form)}}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}

        {# Génération du label + error + widget pour un champ. #}
        <div class="form-group">
            <p>{{ form_label(form.date, "Choisissez une date"|trans, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(form.date) }}

            </p>

            <p>
                {{ form_widget(form.date) }}
            </p>
        </div>
        <div class="form-group">

        <p>{{ form_label(form.type, "Choisissez un type de billet"|trans, {'label_attr': {'class':'control-label'}})}}
            {{ form_errors(form.type) }}
        </p>
            <p> {{ form_widget(form.type) }}
            </p>
        </div>



        <div class="form-group">
            <p>{{ form_label(form.adresse, "Entrez votre adresse email"|trans, {'label_attr': {'class': 'control-label'}}) }}
            {{ form_errors(form.adresse) }}
            </p>

            <p>
                {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
            </p>
        </div>

        <div class="form-group">
            <p>{{ form_label(form.number, "Choisissez le nombre de billets"|trans, {'label_attr': {'class': 'control-label'}}) }}
                {{ form_errors(form.number) }}
            </p>

            <p>
                {{ form_widget(form.number, {'attr': {'class': 'form-control'}}) }}
            </p>
        </div>


        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}



        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>


{% endblock %}