{% extends "::layout.html.twig" %}
{% block title %}{{parent()}} - Ticket{% endblock %}

{% block selection %}



        <div class="well">
        <h3> Votre commande : {{ order.number}}

        Billet{{ order.number>1? "s":"" }}

        </h3>
            <p>Date de réservation : {{ order.date|date('d/m/Y') }} </p>
        <p>Type de billet : {{ order.type.name}}    </p>



 {% for ticket in order.tickets %}
     <hr>
     <p>Billet n° {{ loop.index }}</p>
     <p>Nom : {{ticket.lastname}}</p>
     <p>Prénom : {{ticket.firstname }}</p>
     <p>Tarif : {{ ticket.tarif }}euros</p>
 {%endfor %}
 <hr>
 <p>Tarif total : {{ order.tarif }}euros</p>


</div>



<form action="" method="POST">
<script
 src="https://checkout.stripe.com/checkout.js" class="stripe-button"
 data-key="pk_test_qBXsoomKdxHdqCimKzQqD2C6"
 data-amount="{{ order.tarif*100 }}"
 data-name="Stripe.com"
 data-description="Widget"
 data-image="{{ asset('images/pyramide.jpg') }}"
 data-locale="auto"
 data-receipt_email="{{ order.adresse }}"
 data-currency ="eur"
 data-zip-code="true">
</script>
</form>
{% endblock %}