{% extends "::layoutWithSidebar.html.twig" %}

{% block selection %}


    <h3 id="titre">{{'Bienvenue sur le site officiel de billetterie du Louvre!'|trans}}</h3>
    <section class="row">
   <div class="hidden-xs col-sm-12"><img src="{{ asset('images/Louvre11.jpg') }}" ></div>
        <div class="visible-xs col-sm-12"><img src="{{ asset('images/Louvre10.jpg') }}" ></div>


    </section>
    <section class="row" style="padding-top:20px">
        <div class="col-sm-12">
        <a  href="{{ path('eticket_selection_step_one') }}"> <button type="button" class="btn btn-primary btn-lg btn-block" style="display:block">{{'Sélectionnez vos billets'|trans}}</button></a>
        </div>
    </section>
    {% endblock %}

